
<div class="content-wrapper">
<div class="about">
  <h1>About Us</h1>
  <p>
    Where your health and well-being are our top priorities. 
    Our dedicated team of experienced professionals is committed to 
    providing personalized care to help you achieve a pain-free and healthy lifestyle.
    Where your health and well-being are our top priorities. 
    Our dedicated team of experienced professionals is committed to 
    providing personalized care to help you achieve a pain-free and healthy lifestyle.
  </p>
  </div>

<section class="session-section">

  <!-- Dr Joe -->
   <div class="session-container">
    <div class="session-image">
      <img src="/joe.png" alt="joe_img">
    </div>

    <div class="session-text">
      <h1>Dr. Joseph Drake</h1>
      <p>
        Welcome to our East Vancouver Chiropractic Clinic, 
        where your health and well-being are our top priorities. 
        Our dedicated team of experienced professionals is 
        committed to providing personalized care to help you 
        achieve a pain-free and healthy lifestyle.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>
  </div>

  
  <!-- Dr Peter -->
  <div class="session-container">
    <div class="session-image">
      <img src="/peter.jpg" alt="peter_img">
    </div>
    <div class="session-text">
      <h1>Dr. Peter Curtis</h1>
      <p>
        Welcome to our East Vancouver Chiropractic Clinic, 
        where your health and well-being are our top priorities. 
        Our dedicated team of experienced professionals is 
        committed to providing personalized care to help you 
        achieve a pain-free and healthy lifestyle.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>
  </div>
  
  </section>

  </div>
