
.content-wrapper {
  max-width: 1200px; 
  margin: 0 auto;     
  padding: 3rem;

// Title
.about{
  max-width: 1200px;  
  margin: 0;             
  padding: 40px 0 10px 0;
  text-align: left;

  h1{
  font-size: 5rem;
  margin-bottom: 1rem;
  } 
  p{
  font-size: 1.1rem;
  line-height: 1.6;
  }
}
// Session
.session-section{
  margin: 50px 0;

    .session-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: auto;
    gap: 2rem;
    background-color: #f3f3f3;    
    border-radius: 1rem;           
    border: 1px solid #e0dfdf;
    padding: 2rem;  
    margin-bottom: 2rem;

      .session-image {
      flex: 1 1 45%;
      min-width: 300px;

        img {
        width: 100%;
        height: 500px;
        border-radius: 1rem;
        object-fit: cover;
        object-position: center top;  

      }
    }

      .session-text {
      flex: 1 1 50%;
      min-width: 300px;

        p {
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1.6;
      }

        h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      .btn-book {
        display: inline-block;
        padding: 1rem 2rem;
        background-color: #0b2545;
        color: #fff;
        border-radius: 2rem;
        text-decoration: none;
        font-weight: bold;
      }
    }

  }
}
}




// Responsive

  @media (max-width: 767px) {
    .about{
      h1{
        font-size: 3rem !important;
      }
    }
  .session-section .session-container {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .session-image {
      order: 0;
      width: 80%;
      margin-bottom: 1.5rem;
      flex: none;

      img {
        display: block;
        height: 410px !important;
        width: 100%;
        object-fit: cover;
        
      }
    }

    .session-text {
      order: 1;
      width: 100%;

      h1, p {
        text-align: center;
      }

      .btn-book {
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
}