@media screen and (max-width: 959px) {
    .session-image img{
        object-fit: cover;  
        object-position: top; 
        max-width: 320px;
    }
}

@media (max-width: 767px) {
   .session-image, .session-text{
    padding: 0 14px;
   }
   .session-image img{
    max-height: 300px;
   }
}