<div class="content-wrapper">

  <div class="title-section">
    <h1>Treatments</h1>
    <p>Our treatments are designed to address pain, restore movement, 
      and support long-term health. We take a personalized, 
      hands-on approach—combining evidence-based care with tailored 
      treatment plans to help you move better, feel stronger, and stay resilient.</p>
  </div>

<section class="session-section">
  <!-- Treatment1 -->
  <div class="session-container">
    <div class="session-text session-padding">
      <h1>Initial Visit</h1>
      <p class="session-duration">60 MINS</p>
      <p>
        Your first session focuses on understanding your body. 
        An expert Physiotherapist, Chiropractor, or Registered 
        Massage Therapist will assess how you move, identify 
        the root cause of any pain or discomfort, and begin 
        hands-on treatment. Then we’ll create a personalized 
        FutureProof Plan™ to help you move better, feel stronger, 
        and stay pain-free.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>
    <div class="session-image session-padding">
      <img src="/treatment1.jpg" alt="treatment_img">
    </div>
  </div>

  <!-- Treatment2 -->
   <div class="session-container">
    <div class="session-text session-padding">
      <h1>Follow Up Session</h1>
      <p class="session-duration">60 MINS</p>
      <p>
        Your follow-up session focuses on progress and adjustment. 
        Your Physiotherapist, Chiropractor, or Registered Massage 
        Therapist will reassess your movement and response to 
        treatment, make any necessary changes, and continue 
        hands-on therapy. Your FutureProof Plan™ will also be 
        updated to keep you moving forward—stronger and aligned with your goals.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>
    <div class="session-image session-padding">
      <img src="/treatment2.jpg" alt="treatment_img">
    </div>
  </div>
<!-- Treatment3 -->
  <div class="session-container">
    <div class="session-text session-padding">
      <h1>Follow Up Session</h1>
      <p class="session-duration">30 MINS</p>
      <p>
        This focused follow-up session keeps you on track. 
        Your Physiotherapist, Chiropractor, or Registered 
        Massage Therapist will review your progress, 
        reassess key areas, and provide targeted hands-on 
        treatment. Your FutureProof Plan™ will also be adjusted 
        as needed to support continued improvement and long-term movement health.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>

    <div class="session-image session-padding">
      <img src="/treatment3.jpg" alt="treatment_img">
    </div>
  </div>
</section>
</div>