<div class="content-wrapper">

  <div class="title-section">
    <h1>Treatments</h1>
    <p>Our treatments are designed to address pain, restore movement, 
      and support long-term health. We take a personalized, 
      hands-on approach—combining evidence-based care with tailored 
      treatment plans to help you move better, feel stronger, and stay resilient.</p>
  </div>

<section class="session-section">
  <!-- Treatment1 -->
  <div class="session-container">
    <div class="session-text session-padding">
      <h1>Initial Visit</h1>
      <p class="session-duration">60 MINS</p>
      <p>
        Your first session is dedicated to understanding you. An expert Physiotherapist,
        Chiropractor, or Registered Massage Therapist will guide you through a comprehensive
        whole-body assessment to explore how you move, uncover the root cause of any pain or
        discomfort, and start treatment right away with hands-on therapy. Then, we’ll build a
        personalized FutureProof Plan™—a clear path to moving better, feeling stronger, and
        staying pain-free.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>
    <div class="session-image session-padding">
      <img src="/treatment1.jpg" alt="treatment_img">
    </div>
  </div>

  <!-- Treatment2 -->
   <div class="session-container">
    <div class="session-text session-padding">
      <h1>Follow Up Session</h1>
      <p class="session-duration">60 MINS</p>
      <p>
        Your follow-up session focuses on progress and refinement. 
        Your Physiotherapist, Chiropractor, or Registered Massage 
        Therapist will reassess how your body is responding to treatment,
        review changes in movement, pain, or performance, 
        and adjust care as needed. Hands-on therapy continues 
        based on your current needs, while your FutureProof Plan™ is 
        updated to keep you moving forward—stronger, more resilient, 
        and aligned with your goals.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>
    <div class="session-image session-padding">
      <img src="/treatment2.jpg" alt="treatment_img">
    </div>
  </div>
<!-- Treatment3 -->
  <div class="session-container">
    <div class="session-text session-padding">
      <h1>Follow Up Session</h1>
      <p class="session-duration">30 MINS</p>
      <p>
        This focused follow-up session is designed to 
        keep you on track. Your Physiotherapist, Chiropractor, 
        or Registered Massage Therapist will check in on 
        your progress, reassess key areas, and provide targeted 
        hands-on treatment based on your current needs. 
        We’ll also make any necessary adjustments to your 
        FutureProof Plan™ to support continued improvement, 
        efficient recovery, and long-term movement health.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>

    <div class="session-image session-padding">
      <img src="/treatment3.jpg" alt="treatment_img">
    </div>
  </div>
</section>
</div>