<div class="content-wrapper">

<div class="treatments">
  <h1>Treatments</h1>
  <p>Where your health and well-being are our top priorities. 
    Our dedicated team of experienced professionals is committed to 
    providing personalized care to help you achieve a pain-free and healthy lifestyle.</p>
  </div>

<section class="session-section">
    <!-- Treatment1 -->
  <div class="session-container">
    <div class="session-text">
      <h1>Follow Up Session</h1>
      <p class="session-duration">60 MINS</p>
      <p>
        Your first session is dedicated to understanding you. An expert Physiotherapist,
        Chiropractor, or Registered Massage Therapist will guide you through a comprehensive
        whole-body assessment to explore how you move, uncover the root cause of any pain or
        discomfort, and start treatment right away with hands-on therapy. Then, we’ll build a
        personalized FutureProof Plan™—a clear path to moving better, feeling stronger, and
        staying pain-free.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>
    <div class="session-image">
      <img src="/treatment1.jpg" alt="treatment_img">
    </div>
  </div>

  <!-- Treatment2 -->
   <div class="session-container">
    <div class="session-text">
      <h1>Follow Up Session</h1>
      <p class="session-duration">60 MINS</p>
      <p>
        Your first session is dedicated to understanding you. An expert Physiotherapist,
        Chiropractor, or Registered Massage Therapist will guide you through a comprehensive
        whole-body assessment to explore how you move, uncover the root cause of any pain or
        discomfort, and start treatment right away with hands-on therapy. Then, we’ll build a
        personalized FutureProof Plan™—a clear path to moving better, feeling stronger, and
        staying pain-free.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>
    <div class="session-image">
      <img src="/treatment2.jpg" alt="treatment_img">
    </div>
  </div>
<!-- Treatment3 -->
  <div class="session-container">
    <div class="session-text">
      <h1>Initial Visit</h1>
      <p class="session-duration">60 MINS</p>
      <p>
        Your first session is dedicated to understanding you. An expert Physiotherapist,
        Chiropractor, or Registered Massage Therapist will guide you through a comprehensive
        whole-body assessment to explore how you move, uncover the root cause of any pain or
        discomfort, and start treatment right away with hands-on therapy. Then, we’ll build a
        personalized FutureProof Plan™—a clear path to moving better, feeling stronger, and
        staying pain-free.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>

    <div class="session-image">
      <img src="/treatment3.jpg" alt="treatment_img">
    </div>
  </div>
</section>
</div>