<div class="content-wrapper">
<section class="locations">
  <div class="title-section">
  <h1>Locations</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,  
    sed do eiusmod tempor incididunt ut labore et dolore magna 
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate 
    velit esse cillum dolore eu fugiat nulla pariatur. </p>

    <div class="location-card">
    <img src="/clinic1.jpeg" alt="Main Street Clinic">
    <!-- <h3>Main Street</h3> -->
  </div>
  </div>

  

  <!-- <div class="location-card">
    <img src="/clinic2.jpg" alt="Trout Lake Clinic">
    <h3>Trout Lake</h3>
  </div> -->
</section>

</div>
