<nav class="navbar navbar-expand-lg" style="background-color: #0b2545;">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">
      <img src="chirologo.png" alt="Logo">
    </a>

    <!-- Hamburger -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav links -->
    <div class="collapse navbar-collapse" [class.show]="isNavbarOpen">
      <ul class="navbar-nav ms-auto align-items-center">
        
        <li class="nav-item mx-1">
          <a class="nav-link" [routerLink]="['/']" (click)="closeNavbar()">Home</a>
        </li>

        <li class="nav-item mx-1">
          <a class="nav-link" [routerLink]="['/about']" (click)="closeNavbar()">About</a>
        </li>

        <li class="nav-item mx-1">
          <a class="nav-link" [routerLink]="['/treatments']" (click)="closeNavbar()">Treatments</a>
        </li>

        <li class="nav-item mx-1">
          <a class="nav-link" [routerLink]="['/location']" (click)="closeNavbar()">Locations</a>
        </li>

        <li class="nav-item mx-1">
          <a class="btn btn-primary mt-2 mt-lg-0" href="https://jane.app/" target="_blank">BOOK NOW</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="mainSection">
  <router-outlet></router-outlet>
</div>