// Navigation
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

    .navbar-brand img {
    height: 45px;
    padding: 3px 0 0 12px;
    text-decoration: none;
    
}

    .navbar-nav .nav-link {
    font-weight: 400;
    font-size: 18px;
    margin-right: 10px;

   
}

}

// humburger icon
.navbar-toggler {
  border: none;
  color: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22 M4 15h22 M4 23h22'/%3E%3C/svg%3E");
}

.btn.btn-primary {
  background-color: #ffffff;
  border-radius: 20px;
  border-color: #ffffff;
  font-weight: bold;
  color: #1a1a1a;
  font-size: 12px;
}

.nav-link {
  color: #ffffff;
  position: relative;
  transition: color 0.3s ease; 
}

.nav-link:hover {
  color: #ffffff; 
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}



// Footer

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  background-color: #e6e6e6;
  color: #1a1a1a;
  padding: 2rem 1.5rem;
  margin-top: 100px;

  .footer-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;

    
    .footer-logo {
      width: 160px;
      height: auto;
    }
}

  .footer-right {
    .footer-nav{
      display: flex;
      gap: 1.5rem;
      }
}
}



.footer-nav a {
  color: #0b2545;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #252525;
}

/* Responsive */


@media (max-width: 991px) { 
  .navbar-nav .btn.btn-primary {
    margin-bottom: 1.6rem;
  }
  .navbar-collapse.collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out; 
  }

  .navbar-collapse.collapse.show {
    max-height: 500px;
  }
}

@media (max-width: 768px) {
  .navbar-brand img {
  height: 34px !important;
}


  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .footer-right {
    width: 100%;
  }

  .footer-nav {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

