<div class="topContainer">
  <nav class="navbar navbar-expand-lg" style="background-color: #0b2545;">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <!-- Navigation left logo -->
      <a class="navbar-brand" href="/">
        <img src="chirologo.png" alt="Logo">
      </a>

      <!-- humburge button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation Right-->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item mx-1">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" routerLink="/treatments">Treatments</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" routerLink="/location">Locations</a>
          </li>
          <li class="nav-item mx-1">
            <a class="btn btn-primary mt-2 mt-lg-0" href="https://jane.app/" target="_blank">BOOK NOW</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="mainSection">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer --> 
   <!-- <footer class=""> 
    <div class="footer-container"> 
    
      <div class="footer-left"> 
        <img src="/chirologo-blue.png" alt="Logo" class="footer-logo" />
      </div> 
      
      <div class="footer-right"> 
        <nav class="footer-nav"> 
          <a class="nav-link" routerLink="/home">Home</a> 
          <a class="nav-link" routerLink="/about">About</a> 
          <a class="nav-link" routerLink="/treatments">Treatments</a> 
          <a class="nav-link" routerLink="/location">Location</a> 
        </nav> 
      </div> 
    </div> 
  </footer> -->