
/* Hero */
.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Archivo Black", sans-serif;

}
.hero {
  position: relative;
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.45),
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.1)
    ),
    url('/heroimage.jpg');
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding-top: 110px;
  min-height: 600px;
  letter-spacing: 2px;

}
.hero h1 {
  font-size: 50px;
  line-height: 1.2;
  font-family: "Lora", serif;
  font-weight: 400;
  text-shadow: 0 4px 10px rgba(69, 69, 69, 0.3);
  margin-top: 70px;
}
.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 50px;
  border-radius: 13px;
  border: 2px solid #ffffff;
  position: absolute;
  bottom: 100px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #ffffff;
  border: 2px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}



/* Testimonials */
.testimonials-section {
  background: #2f4662;
  color: white;
  text-align: center;
  padding: 4rem 1rem;
  margin: 4rem auto;
  border-radius: 10px;
  max-width: 1100px;

  h2 {
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }

  .testimonial-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

    .testimonial-image img {
    width: 270px;
    max-width: 100%;
    border-radius: 5px;
    }
    .testimonial-content {
    max-width: 500px;
    text-align: left;

      .stars{
        font-size: 20px;
        margin: 80px 0 20px;
      }
    
    }
  }

}

/* Office Hours */

.hours{
  .openhours {
  margin: 0 auto;
  text-align: left; 
    h1 {
    font-size: 3rem;
    }
  }

  table {
  width: 100%;             
  margin: 1rem 0 4rem; 
  max-width: 1200px;
  border-collapse: collapse;

    td:first-child {
      text-align: left;
       padding-left: 40px;
    }
    td:last-child {
      text-align: right;
      padding-right: 40px;
    }
    td {
    padding: 0.8rem;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    font-weight: 500;
    
    }
  }
}





/* Responsive */
@media (max-width: 1023px) {
 
}


@media (max-width: 767px) {

  // *Hero*

  .hero{
    min-height: 500px;

    h1{
      margin-top: 20px;
      font-size: 40px;
    }
  }

   .main_h {
    padding-top: 25px;
  }

  

// Testimonials


  .testimonials-section {
    max-width: 500px;

    h2{
      font-size: 1.8rem;
    }

    .testimonial-card{
    flex-direction: column;          
    text-align: center;
    

      .testimonial-content {
      max-width: 100%;     
      .stars {
        margin: 0 0 10px 0;
      }
    }
    }    
    
    .testimonial-image img {
      width: max-content !important;
      margin: 0 auto 1.5rem;  
    }
     
  }

  // Office Hours
  .hours{ 
    td{
    font-size: 0.9rem; 
    }
    .openhours{
      h1{
        font-size: 2.3rem;
      }
    }
  }
}

