<section class="hero-image-with-text">
  <video autoplay muted loop playsinline class="hero-video">
    <source src="/runningvideo.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="hero-overlay">
    <h1>
      FEEL BETTER,<br>
      MOVE BETTER,<br>
      LIVE BETTER.
    </h1>
  </div>
</section>

<!-- Treatments section -->
<div class="content-wrapper">
<div class="treatments">
  <h1>Treatments</h1>
  <p>Where your health and well-being are our top priorities. 
    Our dedicated team of experienced professionals is committed to 
    providing personalized care to help you achieve a pain-free and healthy lifestyle.</p>
  </div>

  <section class="session-section">
    <!-- Treatment1 -->
  <div class="session-container">
    <div class="session-text session-padding">
      <h1>Follow Up Session</h1>
      <p class="session-duration">60 MINS</p>
      <p>
        Your first session is dedicated to understanding you. An expert Physiotherapist,
        Chiropractor, or Registered Massage Therapist will guide you through a comprehensive
        whole-body assessment to explore how you move, uncover the root cause of any pain or
        discomfort, and start treatment right away with hands-on therapy. Then, we’ll build a
        personalized FutureProof Plan™—a clear path to moving better, feeling stronger, and
        staying pain-free.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>
    <div class="session-image session-padding">
      <img src="/treatment1.jpg" alt="treatment_img">
    </div>
  </div>
<!-- Treatment3 -->
  <div class="session-container">
    <div class="session-text">
      <h1>Initial Visit</h1>
      <p class="session-duration">60 MINS</p>
      <p>
        Your first session is dedicated to understanding you. An expert Physiotherapist,
        Chiropractor, or Registered Massage Therapist will guide you through a comprehensive
        whole-body assessment to explore how you move, uncover the root cause of any pain or
        discomfort, and start treatment right away with hands-on therapy. Then, we’ll build a
        personalized FutureProof Plan™—a clear path to moving better, feeling stronger, and
        staying pain-free.
      </p>
      <a class="btn-book" href="https://jane.app/" target="_blank">BOOK A SESSION</a>
    </div>

    <div class="session-image">
      <img src="/treatment3.jpg" alt="treatment_img">
    </div>
  </div>
</section>

</div>

<!-- Testimonials section -->
<section class="testimonials-section">
  <h2>What Our Customers Say</h2>
  <div class="testimonial-card">
    <div class="testimonial-image">
      <img src="/review.jpg" alt="Customer Photo">
    </div>
    <div class="testimonial-content">
      <div class="stars">★★★★★</div>
      <p class="testimonial-text">
        <em>
          " The staff from the clinic is very helpful and provide an excellent service.
          Dr Joseph Drake is the best!
          I had some hip and lower back pain and after a few sessions I feel brand new! "
        </em>
      </p>
      <div class="dots">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>
</section>

<!-- Office hours section -->

<div class="content-wrapper">
<section class="hours">
  <div class="openhours">
  <h1>Office Hours</h1>
  </div>
  <table>
    <tr><td>Monday</td>   <td>10:00 - 18:00</td></tr>
    <tr><td>Tuesday</td>  <td>10:00 - 17:00</td></tr>
    <tr><td>Wednesday</td><td>10:00 - 18:00</td></tr>
    <tr><td>Thursday</td> <td>10:00 - 18:00</td></tr>
    <tr><td>Friday</td>   <td>10:00 - 18:00</td></tr>
    <tr><td>Saturday</td> <td>10:00 - 16:00</td></tr>
    <tr><td>Sunday</td>   <td>10:00 - 16:00</td></tr>
  </table>
</section>
</div>
