
/* Hero */

.hero {
  position: relative;
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.1)
    ),
    url('/heroimage.jpg');
  position: relative;
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.1)
    ),
    url('/heroimage.jpg');
  background-size: cover;
  background-position: center;
  min-height: 600px;

  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;
  color: #fafafa;

}
.hero h1 {
  font-size: 50px;
  line-height: 1.2;
  font-family: "DM Serif Display", serif;
  text-shadow: 0 4px 10px rgba(61, 61, 61, 0.3);

  border: 1.5px solid #ffffff;
  padding: 160px 35%;  
  display: inline-block;
}


// .mouse {
//   display: block;
//   margin: 0 auto;
//   width: 26px;
//   height: 50px;
//   border-radius: 13px;
//   border: 2px solid #ffffff;
//   position: absolute;
//   bottom: 100px;
//   position: absolute;
//   left: 50%;
//   margin-left: -8px;
// }



/* Testimonials */
.testimonials-section {
  background: #2f4662;
  color: white;
  text-align: center;
  padding: 4rem 1rem;
  margin: 4rem auto;
  border-radius: 10px;
  max-width: 1100px;

  h2 {
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }

  .testimonial-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

    .testimonial-image img {
    width: 270px;
    max-width: 100%;
    border-radius: 5px;
    }
    .testimonial-content {
    max-width: 500px;
    text-align: left;

      .stars{
        font-size: 20px;
        margin: 80px 0 20px;
      }
    
    }
  }

}

/* Office Hours */

.hours{
  .openhours {
  margin: 0 auto;
  text-align: left; 
    h1 {
    font-size: 3rem;
    }
  }

  table {
  width: 100%;             
  margin: 1rem 0 4rem; 
  max-width: 1200px;
  border-collapse: collapse;

    td:first-child {
      text-align: left;
       padding-left: 40px;
    }
    td:last-child {
      text-align: right;
      padding-right: 40px;
    }
    td {
    padding: 0.8rem;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    font-weight: 500;
    
    }
  }
}





/* Responsive */
@media (max-width: 1023px) {
  .hero{
    h1{
      padding: 150px 30%;  
    }
  }
}


@media (max-width: 767px) {

  // *Hero*

  .hero{
    min-height: 500px;

    h1{
      font-size: 40px;
      padding: 130px 25%;  
    
    }
  }

// Testimonials


  .testimonials-section {
    max-width: 500px;

    h2{
      font-size: 1.8rem;
    }

    .testimonial-card{
    flex-direction: column;          
    text-align: center;
    

      .testimonial-content {
      max-width: 100%;     
      .stars {
        margin: 0 0 10px 0;
      }
    }
    }    
    
    .testimonial-image img {
      width: max-content !important;
      margin: 0 auto 1.5rem;  
    }
     
  }

  // Office Hours
  .hours{ 
    td{
    font-size: 0.9rem; 
    }
    .openhours{
      h1{
        font-size: 2.3rem;
      }
    }
  }
}
@media (max-width: 480px) {
  .hero{
  
    h1{
      font-size: 30px;
      padding: 120px 15%;  
    }
  }
}

